<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<form>
    <textarea id="code_snippet">// write your code here</textarea><br>
    <button id="send_snippet" type="submit" onclick="send()">Submit</button><br>

    <label for="time_restriction">Time restriction:</label>
    <input id="time_restriction" type="text"/><br>
    <label for="views_restriction">Views restriction:</label>
    <input id="views_restriction" type="text"/><br>
</form>

<!-- connecting JS -->
<script src="/main.js"></script>
</body>
</html>