<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Latest</title>
    <link rel="stylesheet" href="/style.css">

    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div th:each="codeSnippet : ${codeSnippets}">
    <span id="load_date" th:text="${#temporals.format(codeSnippet.getDate(), 'yyyy-MM-dd HH:mm:ss')}"></span>
    <pre id="code_snippet"><code th:text="${codeSnippet.getCode()}"></code></pre>
</div>
</body>
</html>